.contentGridContainer {
    display: grid;
    grid-template-columns: 5% 20% 25% 25% 20% 5%;
    grid-template-rows: 10% 80% 10%;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 12px;
}
#dateRange {
    grid-column: 4 / span 2;
    grid-row: 1 / span 1;
    margin-top: 20px;
}
#graph {
    grid-column: 2 / span 4;
    grid-row: 2 / span 1;
    border: 5px solid black;
    border-radius: 12px;
    margin: 20px;
    padding: 20px;
}
#buttons {
    grid-column: 2 / span 4;
    grid-row: 3 / span 1;
    margin-bottom: 20px;
}
button {
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}
input {
    margin: 5px;
    padding: 10px;
    border-radius: 12px;
}