body {
    margin: 0px;
}
.gridContainer {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    height: 100vh;
    width: 100vw;
}
.header {
    grid-row: 1 / span 1;
    grid-column: 4 / span 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 12px;
}
.content {
    grid-row: 3 / span 8;
    grid-column: 2 / span 6;
    border: 5px solid black;
    border-radius: 12px;
    height: 100%;
    width: 100%;
}
.footer {
    grid-row: 12 / span 1;
    grid-column: 4 / span 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 12px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
}